#content {
	padding-top: 7.5rem;
}

.weapon {
	padding-bottom: 1rem;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}

.element {
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: center;
}
.element > p, .element > div {
	padding-right: 1rem;
	padding-bottom: 1rem;
}
.name {
	font-size: 1.3rem;
	font-weight: 900;
	/*justify-content: flex-start;*/
	align-items: flex-start;
	width: 20rem;
}