@import "reset.css";
@import "header.css";
@import "menu-header.css";
@import "submenu-button.css";
@import "content.css";
.submenu {
	user-select: none;
	display: none;
	position: absolute;
	flex-direction: column;
	top: 142px;
	left: 10px;
	background-color: #b09e56e0;
	/*padding: .5rem 1rem;*/
}
.submenu > li {
	padding: 1rem 1.5rem;
}

.submenu > li:hover {
	background-color: #b09e56;
}
